<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbound Conquest</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.js"></script>
</head>
<body>
    <div class="intro-text">
        <label class="ship-info-color">Welcome, <%= username %></label>
        <label class="ship-info">-  Use the dropdown to select ship class then ship faction. Enter a selected ships HP, and
            update its HP Value. Enable ruler to measure distance.</label>
            <form id="logout" action ="/logout" method="post">
                <input type="submit" name="Logout" value="Logout">
            </form>
            <button id="reset" onclick="reset_ship_status()">Reset Toggles</button>
    </div>
    <div id="button-container">
        <div id="left-column">
            <label id="gameValue" class="ship-info">Total Fleet Value: 0</label>
            <label id="shipValue" class="ship-info">Your Fleet Value: 0</label>
            <label class="ship-info">Ship Class</label>
            <select id="ship-class" aria-label="ship selection" class="ship-class-selection">
                <option value="0">---Select---</option>
                <option value="0,1,2,3,4,5,6">Fighter</option>
                <option value="0,7,8,9,10,11,12">Destroyer</option>
                <option value="0,13,14,15,16,17,18">Cruiser</option>
                <option value="0,19,20,21,22,23,24">Carrier</option>
                <option value="0,25,26,27,28,29,30">Dreadnought</option>
            </select>
            <label class="ship-info">Ship Faction</label>
            <select id="ship-faction" onclick="handle_dropdown_selection()" aria-label="ship selection" class="ship-class-selection">
                <option value="0">---Select---</option>
                <option value="1" >DiableAvionics</option>
                <option value="2">Gensoukyou</option>
                <option value="3">Neutrino</option>
                <option value="4">Volantian</option>
                <option value="5">Galactic Constellate</option>
                <option value="6">Shadow Wing</option>
                <option value="7">DiableAvionics</option>
                <option value="8">Gensoukyou</option>
                <option value="9">Neutrino</option>
                <option value="10">Volantian</option>
                <option value="11">Galactic Constellate</option>
                <option value="12">Shadow Wing</option>
                <option value="13">DiableAvionics</option>
                <option value="14">Gensoukyou</option>
                <option value="15">Neutrino</option>
                <option value="16">Volantian</option>
                <option value="17">Galactic Constellate</option>
                <option value="18">Shadow Wing</option>
                <option value="19">DiableAvionics</option>
                <option value="20">Gensoukyou</option>
                <option value="21">Neutrino</option>
                <option value="22">Volantian</option>
                <option value="23">Galactic Constellate</option>
                <option value="24">Shadow Wing</option>
                <option value="25">DiableAvionics</option>
                <option value="26">Gensoukyou</option>
                <option value="27">Neutrino</option>
                <option value="28">Volantian</option>
                <option value="29">Galactic Constellate</option>
                <option value="30">Shadow Wing</option>
                <option value="31">DiableAvionics</option>
                <option value="32">Gensoukyou</option>
                <option value="33">Neutrino</option>
                <option value="34">Volantian</option>
                <option value="35">Galactic Constellate</option>
                <option value="36">Shadow Wing</option>
                <option value="37">DiableAvionics</option>
                <option value="38">Gensoukyou</option>
                <option value="39">Neutrino</option>
                <option value="40">Volantian</option>
                <option value="41">Galactic Constellate</option>
                <option value="42">Shadow Wing</option>
                <option value="43">DiableAvionics</option>
                <option value="44">Gensoukyou</option>
                <option value="45">Neutrino</option>
                <option value="46">Volantian</option>
                <option value="47">Galactic Constellate</option>
                <option value="48">Shadow Wing</option>
            </select>
            <label class="ship-info">Celestial Bodies</label>
            <select onchange="hande_planets_dropdown()" id="add-planets" aria-label="celestial objects" class="ship-class-selection">
                <option value="" disabled selected>--Select--</option>
                <option value="1">Planet - Azura Prime</option>
                <option value="2">Planet - Crysalon</option>
                <option value="3">Planet - Eldoria</option>
                <option value="4">Planet - Hesperia</option>
                <option value="5">Planet - Pyraxis</option>
                <option value="6">Moon</option>
                <option value="7">Asteroid - Single</option>
                <option value="8">Asteroid - Field</option>
            </select>
            <input placeholder="0" type="number" id="newShipHP">
            <button onclick="update_hp()">Update HP</button>
        </div>
        <div id="right-column">
            <button id="ruler">Enable Ruler</button>
            <button id="AOE">Enable AOE</button>
            <button id="marker" class="side-panel-btn">
                <img class="open-span-icon" src="../images\icons\icons8-location-50.png">
            </button>
            <button id="toggle" onclick="ship_toggle()" class="side-panel-btn">
                <img class="open-span-icon" src="../images\icons\icons8-toggle-50.png">
            </button>
            <div id="hp-container">
                <button id="open-rules">Rules</button>
                <button id="open-ship-stat-modal">Ship Stats</button>
                <button class="side-panel-btn" id="side-panel-btn" type="button">
                    <img class="open-span-icon" src="../images/icons/icons8-dice-48-black.png">
                </button>
                <button onclick="send_message_discord()" class="side-panel-btn" id="side-panel-btn" type="button">
                    <img class="open-span-icon" src="../images/icons/icons8-finish-48.png">
                </button>
                </div>
            </div>
        </div>
    </div>
    <div id="myLoadModal">
        <div class="ldbtn">
            <label class="ship-info-load"><%= username %>, I implore thee to load<br> thy previous game state.<br>Or thy existence, as thou knowest it,<br> may be sent to oblivion.</label>
            <label class="ship-info-load-acknowledge" id="acknowledge"><%= username %>, Thou hast loaded thy previous game.<br> Embark on thy adventure henceforth.</label>
            <button class="load-btn" id="loadButton" onclick="load_canvas()">Load Thine Game</button>
            <button class="loadclose" id="load-close" disabled>Enter</button>  
        </div>
    </div>
    <div id="ship-stat-modal">
        <div id="ship-stat-close">
            <span class="close" id="stat-close">&times;</span>
        </div>
        <div class="modal-header">
            <h1 class="ship-stat-header">Ship Class Stats</h1>
        </div>
        <table id="ship-table">
            <tr id="value2">
                <th>Ship Icon</th>
                <th>Ship Class</th>
                <th>Hit Point</th>
                <th>To Hit</th>
                <th>Soak</th>
                <th>Move Distance(ft)</th>
                <th>Maneuvers</th>
                <th>Weapon Type</th>
                <th>Firing Arc</th>
                <th>Weapon Damage</th>
                <th>Weapon Range(ft)</th>
                <th>Point Value</th>
                <th>Capacity</th>
            </tr>
            <tr id="value1">
            </tr>
        </table>
    </div>
    <!-- ///game rules modal-->
    <div id="rules-modal">
        <div id="ship-stat-close">
            <span class="close" id="rules-close">&times;</span>
        </div>
        <div class="modal-header">
            <h2 class="rules-header">Movement Rules</h2>
        </div>
        <!-- ///movement rules-->
        <div class="rules-header-category">
            <h2>Movement Basics:</h2>
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">Player Sequence:</h3>
                <p class="rules-text">All movement and combat actions are resolved during each player's turn.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Movement Distance:</h3>
                <p class="rules-text">Each ship can move a number of feet equal to, or less than, its Movement Distance
                    each turn.</p>
            </div>
        </div>
        <!-- ///special movement rules-->
        <div class="rules-header-category">
            <h2>Special Movement Rules:</h2>
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">All Ahead Full:</h3>
                <p class="rules-text">Roll 2d10. The result is the additoinal hexes the ship can move that turn</p>
            </div>
            <div class="rules-warning">
                <h3 id="lesser-header-restriction">Restriction:</h3>
                <p class="rules-text">Ships that use All Ahead Full cannot fire any weapons until their next turn. This simulates the fopcus on maximum speed and maneuverability at the cost of offensive capability.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Burn Retros:</h3>
                <p class="rules-text">allows a ship to reduce its movement by up to 2 hexes, enabling careful maneuvering around obstacles.</p>.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Movement Direction:</h3>
                <p class="rules-text">Movement can be in any direction, but must follow the hex grid.</p>
            </div>
        </div>
        <!-- ///Combatt rules-->
        <div class="modal-header">
            <h2 class="rules-header">Combat System</h2>
        </div>
        <div class="rules-header-category">
            <h2>Hit Roll:</h2>
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">Check for Obstacles:</h3>
                <p class="rules-text">Ensure there are no obstacles blocking the direct path to the target. If an
                    obstacle is present, the shot is blocked.
            </div>
            <div class="rules">
                <h3 class="lesser-header">Roll the Dice:</h3>
                <p class="rules-text">Roll a d20.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Check Against Threat Level:</h3>
                <p class="rules-text">Compare the result to the target's Threat Level. If your roll is equal to or
                    greater than the target's Threat Level, you hit!</p>
            </div>
        </div>
        <!-- ////rolling for damage -->
        <div class="rules-header-category">
            <h2>Damage Roll:</h2>
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">If the Attack Hits:</h3>
                <p class="rules-text">Proceed with the follwoing steps.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Roll for Damage:</h3>
                <p class="rules-text">Roll the appropriate dice for the weapon to determine the amount of damage dealt.
                </p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Check Against Target Damage Treshold:</h3>
                <p class="rules-text">Compare the rolled damage to the target ship's Damage Threshold.If the damage
                    dealth is equal to or greater the the target ship's Damage Threshold,the ship takes damage;
                    otherwise, it withstands the attack.</p>
            </div>
        </div>
        <!-- /////Firing mechanics -->
        <div class="modal-header">
            <h2 class="rules-header">Firing Mechanics</h2>
        </div>
        <div class="rules-header-category">
            <h2>Range Measurement</h2>
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">Weapon Firing Arcs:</h3>
                <p class="rules-text">Weapons without a 360-degree firing arc must use one of the follwoing 90-degree firing arcs: <b>Forward, Aft, Portside, or Starboard</b></b></p>
            </div>
        </div>
        <!-- ////Firing Arc Image -->
        <div class="rules-container">
            <img src="/images/backgroundimage/firingarc.png" alt="Spaceship Firing Arcs" width="528" height="528"> 
        </div>
        <div class="rules-container">
            <div class="rules">
                <h3 class="lesser-header">Range:</h2>
                <p class="rules-text">To determine if a target is within range. measure from the center of the firing ships's hex to the center of the target ship's hex using the in game ruler.</p>
            </div>
            <div class="rules">
                <h3 class="lesser-header">Line of Sight:</h3>
                <p class="rules-text">Ensure there are no obstacles blocking the direct path to the target. If an
                    obstacle is present, the shot is blocked.
            </div>
        </div>
<!-- ///Weapon ranges and arcs -->
        <div class="rules-header-category">
            <h2>Weapon Ranges and Arcs:</h2>
        </div>
        <table class="ship-table">
            <tr>
                <th>Laser Cannons</th>
                <th>Missile Batteries</th>
                <th>Plasma Torpedos</th>
                <th>Dual Laser Cannons</th>
                <th>Rail Guns</th>
                <th>Ion Beams</th>
            </tr>
            <tr class="feet">
                <td>30ft</td>
                <td>70ft</td>
                <td>50ft</td>
                <td>30ft</td>
                <td>80ft</td>
                <td>40ft</td>
            </tr>
            <tr class="feet">
                <td>Turret (360°)</td>
                <td>Forward (90°) / Aft (90°)</td>
                <td>Forward (90°)</td>
                <td>Turret (360°)</td>
                <td>Portside (90°) / Starboard (90°)</td>
                <td>Portside (90°) / Starboard (90°)</td>
            </tr>
        </table>
    </div>
    <div id="dice-modal">
        <div id="ship-stat-close">
            <span class="close" id="dice-close">&times;</span>
        </div>
        <div id="dice-container">
        <div class="modal-header">
            <h1 class="rules-header">Dice Rollers</h1>
        </div>
            <div id="left">
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d20rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d20label')">-</button>
                        <button onclick="d20()">Roll <label id="d20label">1</label> - d20 </button>
                        <button onclick="increment_dice('d20label')">+</button>
                    </div>
                </div>
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d4rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d4label')">-</button>
                        <button onclick="d4()">Roll <label id="d4label">1</label> - d4 </button>
                        <button class="plus" onclick="increment_dice('d4label')">+</button>
                    </div>
                </div>
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d6rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d6label')">-</button>
                        <button onclick="d6()">Roll <label id="d6label">1</label> - d6 </button>
                        <button class="plus" onclick="increment_dice('d6label')">+</button>
                    </div>
                </div>
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d8rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d8label')">-</button>
                        <button onclick="d8()">Roll <label id="d8label">1</label> - d8 </button>
                        <button class="plus" onclick="increment_dice('d8label')">+</button>
                    </div>
                </div>
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d10rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d10label')">-</button>
                        <button onclick="d10()">Roll <label id="d10label">1</label> - d10 </button>
                        <button class="plus" onclick="increment_dice('d10label')">+</button>
                    </div>
                </div>
                <div class="dice-roll-table">
                    <label class="d20">The Dice Result</label>
                    <label id="d12rolls">0 </label>
                    <div>
                        <button class="minus" onclick="decrement_dice('d12label')">-</button>
                        <button onclick="d12()">Roll <label id="d12label">1</label> - d12 </button>
                        <button class="plus" onclick="increment_dice('d12label')">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats-holder-container">
        <div id="ship-table-container">
            <div class="modal-header">
                <h1 class="rules-header">Weapon Damage Dice</h1>
            </div>
            <table class="ship-table">
                <tr>
                    <th>Light Cannon</th>
                    <th>Medium Cannon</th>
                    <th>Heavy Cannon</th>
                    <th>Plasma Cannon</th>
                    <th>350 Railgun</th>
                    <th>Ion Particle Beam</th>
                </tr>
                <tr class="feet">
                    <td>1d4</td>
                    <td>1d6</td>
                    <td>1d8</td>
                    <td>1d10</td>
                    <td>1d8</td>
                    <td>1d12</td>
                </tr>
            </table>
        </div>
        <div id="class-container">
            <div class="modal-header">
                <h1 class="rules-header">To Hit and Soak</h1>
            </div>
        <table class="ship-table">
            <tr>
                <th>Fighter</th>
                <th>Destroyer</th>
                <th>Cruiser</th>
                <th>Carrier</th>
                <th>Dreadnought</th>
            </tr>
            <tr class="feet">
                <td>Hit: 15<br>Soak: 1</td>
                <td>Hit: 10<br>Soak: 4</td>
                <td>Hit: 8<br>Soak: 6</td>
                <td>Hit: 6<br>Soak: 7</td>
                <td>Hit: 4<br>Soak: 8</td>
            </tr>
        </table>
        </div>
    </div>
</div>
    <div id=wrapper>
        <canvas id="gameCanvas" width=3838 height=2559></canvas>
        <canvas id="canvas2" width=3838 height=2559></canvas>
    </div>
    <script type="module" src="/js/ruler.js" defer></script>
    <script type="module" src="/js/app.js" defer></script>
    <script type="module" src="/js/dropdown.js" defer></script>
    <script type="module" src="/js/shipstatmodalopenclose.js" defer></script>
    <script type="module" src="/js/shipstatsmodal.js" defer></script>
    <script type="module" src="/js/modal.js" defer></script>
    <script type="module" src="/js/dice.js" defer></script>
    <script type="module" src="/js/select.js" defer></script>
    <script type="module" src="/js/aoe.js" defer></script>
    <script type="module" src="/js/load.js" defer></script>
    <script tpye="text/javascript">let username = "<%= username %>";</script>
</body>

</html>npm in