<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Register</title>
</head>
<body id="register-screen">
    <form action="/register" method="POST">
        <div id="login-inputs">
            <label for="name" class="login-label">Name
                <input type="text" name="name" id="name" class="login" required/>
            </label>
            <label for="email" class="login-label">Email
                <input type="email" name="email" id="email" class="login" required/>
            </label>
            <label for="password" class="login-label">Password
                <input type="password" name="password" id="password" class="login" required/>
            </label>
            <button type="submit">Register</button>
            <button type="button" onclick="location.href='/login';">Login</button>
        </div>
    </form>
</body>
</html>
