* {
    font-family: monospace;
}

body {
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    margin: 0;
}

#register-screen,
#login-screen {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    background-image: url("../images/backgroundimage/sbclogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 130vh;
    align-items: center;
}

#comp-app-container{
    display: flex;
    background-color: black;
    color: white;
    border: solid 2px white;
    text-decoration: none;
}

a:link { 
    text-decoration: none;
    color: white;
  } 
a:visited { 
    text-decoration: none;
    color: white; 
  } 
a:hover { 
    text-decoration: none;
    color: white;
  } 
a:active { 
    text-decoration: none;
    color: white;
  }

.login-label{
    color: white;
    font-size: 20px;
}

.login{
    display: flex;
    width: 250px;
    background-color: white;
    color: black;
}

a {
    border: solid 2px white;
    padding: 10px 20px;
    background-color: rgb(37, 37, 37);
    transition: 200ms ease-in;
}

button:hover,
a:hover {
    color: rgb(37, 37, 37);
    background-color: rgb(255, 231, 17);
}

button{
    cursor: pointer;
    padding: 10px 20px;
    border-color: white;
    border-style:solid;
    transition: 200ms ease-in;
}

.ship-info{
    padding: 5px;
    font-size: 18px;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 5px;
    gap: 20px;
}

input {
    color: white;
    background-color: rgb(37, 37, 37);
}


button {
    background-color: rgb(37, 37, 37);
    color: white;
}

option {
    color: white;
    background-color: rgb(37, 37, 37);
    font-size: 18px;
}

select {
    color: white;
    background-color: rgb(37, 37, 37);
    font-size: 18px;
}


#error {
    color: rgb(255, 60, 60);
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

#top-menu{
    display: flex;
    justify-content:space-around;
}

#wrapper {
    position: relative;
    width: 500px;
    height: 500px;
}

#gameCanvas {
    position: absolute;
}

#canvas2 {
    position: absolute;
    border: 3px solid gold;
    background-color: transparent;
    display: none;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .save{
    display: flex;
    align-self: center;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(37, 37, 37);
    font-size: 25px;
  }

  
  /* The Close Button */
  .close {
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(103, 223, 67);
    text-decoration: none;
    cursor: pointer;
  } 

/* The Close Button */
.loadclose {
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: bold;
    }
    
    .loadclose:hover,
    .loadclose:focus {
    color: rgb(103, 223, 67);
    text-decoration: none;
    cursor: pointer;
    } 

  /* Modal Body */
  .modal-body {padding: 2px 16px;}

  #load{
    font-size: 30px;
    font-family: monospace
  }
    
  /* Modal Content */
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(17, 17, 17);
    margin: auto;
    padding: 0;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  p {
    font-size: 15px;
    color: white;
  }
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  } 
