:root {
  --black: #030303;
  --slate: #7b9aa0;
  --blue_gray: #4d6470;
  --misty_blue: #a3bac0;
  --white: #FFFFFF;
  --dark_gray: #202020;
  --deep_red: #8B0000;
  --lightened_deep_red: #B22222;
  --goldenrod: #b6850b;
  --gold: #FFD700;
  --off_black: #05040c;
}


* {
  font-family: monospace;
}

body {
  background-color: var(--black);
  overflow: hidden;
  margin: 0;
  touch-action: none;
}

.intro-text{
display: flex;
justify-content: center;
align-items: center;
background-color: var(--dark_gray);
}

#register-screen,
#login-screen {
  background-color: var(--dark_gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/backgroundimage/sbclogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 130vh;
  align-items: center;
}


#comp-app {
text-align: center;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}

a:link { 
  text-decoration: none;
  color: var(--white);
} 
a:visited { 
  text-decoration: none;
  color: var(--white); 
} 
a:hover { 
  text-decoration: none;
  color: var(--white);
} 
a:active { 
  text-decoration: none;
  color: var(--white);
}

.login-label{
  color: var(--white);
  font-size: 20px;
}

.login{
  display: flex;
  width: 250px;
  background-color: var(--white);
  color: var(--black);
  padding: 5px
}

#button-hold {
margin-top: 10px;
}

#app-shown {
display: flex;
margin-top: 10px;
}

a {
  border: solid 2px var(--white);
  padding: 10px 20px;
  background-color: var(--dark-gray);
  transition: 200ms ease-in;
}

button:hover,
a:hover {
  color: var(--dark_gray);
  background-color: var(--gold);
}

button{
  cursor: pointer;
  padding: 5px;
  border-color: var(--var(--white));
  border-style:solid;
  transition: 200ms ease-in;
  background-color: var(--blue_gray);
  color: var(--white);
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}

.ship-info{
  padding: 5px;
  font-size: 15px; 
  background-color: var(--dark_gray);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: bold;
}

.ship-table{
  display: flex;
  justify-content: center;
  align-content: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--dark_gray);
  color: var(--white);
  padding: 5px;
  gap: 20px;
}

input {
  color: var(--white);
  background-color: var(--blue_gray);
  width: 65px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


option {
  color: var(--white);
  background-color: var(--blue_gray);
  font-size: 18px;
}

select {
  color: var(--white);
  background-color: var(--blue_gray);
  font-size: 16px;
  width: 130px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
select option{
background-color: var(--dark_gray);
color: var(--white);
}


#error {
display: flex;
flex-direction: column;
color: var(--lightened_deep_red);
font-size: 20px;
height: 30px;
}


#top-menu{
  display: flex;
  justify-content:space-around;
}

#wrapper {
  position: relative;
  width: 1500px;
  height: 1500px;
}

#gameCanvas {
  position: absolute;
}

#canvas2 {
  position: absolute;
  border: 3px solid var(--gold);
  background-color: transparent;
  display: none;
}

.save{
  display: flex;
  align-self: center;
  flex-direction: row;
  border: 2px solid rgb(255, 255, 255);
  color: var(--white);
  background-color: rgb(37, 37, 37);
  font-size: 20px;
  width: 300px;
}


/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  font-size: 58px;
  font-weight: bold;
}

.close:hover {
  color: gold;
  text-decoration: none;
  cursor: pointer;
} 

/* The Close Button */
.loadclose {
  color: rgb(255, 255, 255);
  font-size: 58px;
  font-weight: bold;
  }
  
  .loadclose:hover,
  .loadclose:focus {
  color: gold;
  text-decoration: none;
  cursor: pointer;
  }

#ship-stat-close{
  display: flex;
  justify-content: right;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

#load{
  font-size: 40px;
  font-family: monospace;
  justify-content: center;
  align-self: center;
}

p {
  font-size: 20px;
  color: var(--white);
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#hidden-text {
  display: flex;
  color: var(--dark_gray);
  font-size: 18px;
  justify-content: center;
  align-self: center;
}
#hp-container{
  display: inline-flex;
  gap: 10px;
}

#save-button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-self: center;
  gap: 20px;
  padding: 10px
}

#p-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

#left-column{
  display: flex;
  gap: 10px;
}

#right-column{
  display: flex;
  gap: 10px;
}

span{
  display: flex ;
  justify-content: left;
  flex-direction: row-reverse;
}

/*   ship stats modal */
#dice-modal,
#rules-modal,
#ship-stat-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  align-items: center;
  justify-content: center;
  align-content: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
text-align: center;
}


.ship-stat-header{
color: var(--slate);
font-size: 50px;
}

.rules-header{
font-size: 50px;
color: var(--white);
}

.ship-type{
color: var(--white);
font-size: 35px;
}

th{
background-color: var(--slate);
font-weight: bold;
font-size: 20px;
padding: 10px;
color: var(--dark_gray);
}

td{
color: var(--white);
font-size: 20px;
white-space: pre;
padding: 10px;
justify-content: center;
}

#threat-damage{
display: flex;
justify-content: center;
align-self: center;
padding: 20px;
}

#value3,
#value2 {
background-color: var(--dark_gray);
}

table tr:nth-child(even) td{
background-color: var(--dark_gray);
}

table tr:nth-child(odd) td{
background-color: var(--blue_gray);
}

.lesser-header {
color: var(--slate);
font-size: 30px;
}
#lesser-header-restriction {
color: var(--lightened_deep_red);
font-size: 30px;
}

.rules-header-category {
color: var(--dark_gray);
background-color: var(--slate);
font-size: 25px;
justify-content: center;
display: flex;
}

.rules-container{
display: grid;
grid-template-columns: auto auto auto auto;
padding: 10px;
justify-content: center;
gap: 20px;
}

.rules {
border: 2px solid var(--misty_blue);
padding: 18px;
font-size: 22px;
gap: 5px;
text-align: center;
transition: 200ms;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.rules:hover {
border: 2px solid var(--gold);
transform: scale(1.02);
}

.rules-warning {
border: 2px solid var(--misty_blue);
padding: 20px;
font-size: 30px;
gap: 20px;
text-align: center;
transition: 200ms;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.rules-warning:hover {
border: 2px solid var(--lightened_deep_red);
transform: scale(1.02);
}

.rules-text {
font-size: 25px;
}

img {
width: 538px;
height: 538px;
}


.feet {
align-items: center;
text-align: center;
}

.close-dice,
.open-span-icon,
.close-span-icon {
width: 24px;
height: 24px;
}

.side-panel-btn {
width: 40px;
height: 40px;
flex-shrink: 0;
display: flex;
align-self: flex-end;
place-items: center;
cursor: pointer;
background-color: var(--white);
}

.dice-table{
display: flex;
}

.dice-roll-table {
display: grid;
justify-content: center;
align-self: center;
gap: 18px;
color: var(--white);
font-size: 15px;
padding: 10px
}

.dice-rollers{
display: grid;
justify-content: center;
}

#left {
display: flex;
justify-content:flex-start ;
}

#right {
display: flex;
justify-content:flex-end ;
}


